<form [formGroup]="formName()">

        <h5 class="mt-3">{{field().label}}</h5>
        <div class="form-check form-check-inline" formArrayName="{{field().fieldName}}"
                *ngFor="let cb of checkboxes.controls ; let i = index"
                [ngClass]="{'is-invalid': checkboxes.errors && (checkboxes.dirty || checkboxes.touched)}">

                <input class="form-check-input" type="checkbox" [name]="field().options[i].label" [formControlName]="i"
                        [value]="field().options[i].value" [id]="field().options[i].id">
                <label class="form-check-label" [for]="field().options[i].id">{{ field().options[i].label }}</label>
        </div>
        <app-dynamic-error class="invalid-feedback" [formName]="formName()" [fieldName]="field().fieldName"
                [validationMessages]="validationMessages()"></app-dynamic-error>
</form>